html, body {
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  text-align: right;
  background: #ecf0f1;
  min-height: 100vh;
  position: relative;
  padding: 110px 0;
}

*:not(i) {
  font-family: "Tajawal", sans-serif;
  overflow-wrap: break-word;
  outline: none !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a, i, span, img {
  display: inline-block;
}

@media screen {
  .container {
    max-width: 96vw;
  }
}

.navbar {
  background: #ecf0f1;
  color: #2980b9;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  min-height: 70px;
}
.navbar a {
  color: #2980b9;
}
.navbar a.navbar-brand {
  font-weight: 700;
  font-size: 20px;
  margin-right: 0;
}
.navbar .navbar-nav {
  padding-right: 0;
}

footer {
  background: #ecf0f1;
  color: #2980b9;
  padding: 20px 0;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

.subscription .text button, .header .text .btn-con button {
  background: #e74c3c;
  box-shadow: 0 0 9px #00000080;
  color: #ecf0f1;
  border-radius: 6px;
  border: none;
  padding: 15px 20px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 60px;
  transition: 0.2s ease-in-out box-shadow;
}
.subscription .text button:hover, .header .text .btn-con button:hover {
  box-shadow: 9px 9px 18px #00000080;
}

.header {
  margin-top: -40px;
  height: calc(100vh - 70px);
  background: url("../images/HomePage/header.png") center bottom no-repeat;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 575px) {
  .header {
    background: transparent linear-gradient(180deg, #2980b9 0%, #98c0d9d4 60%, #ecf0f1b3 100%) 0 0 no-repeat padding-box;
  }
}
.header .text {
  text-align: center;
  color: #ecf0f1;
  margin-top: 5vh;
}
.header .text h1 {
  margin-bottom: 40px;
  font-size: 60px;
}
@media screen and (max-width: 991px) {
  .header .text h1 {
    font-size: 22px;
  }
}
.header .text p {
  font-size: 22px;
  margin-bottom: 40px;
}
@media screen and (max-width: 991px) {
  .header .text p {
    font-size: 18px;
  }
}
.header .down-btn {
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  display: inline-block;
}
.header .down-btn a {
  color: #2d3436;
  text-decoration: none;
}
.header .down-btn a p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.header .down-btn a i {
  font-size: 40px;
  color: #2980b9;
  animation: upDown 0.8s ease-in-out infinite;
}

.statics {
  text-align: center;
  padding: 90px 0;
}
.statics h2 {
  color: #2980b9;
  margin-bottom: 25px;
  font-size: 26px;
}
.statics .container > p {
  margin-bottom: 40px;
  font-size: 20px;
}
.statics .static .static-box {
  background: #fff;
  overflow: hidden;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;
  text-align: center;
  box-shadow: 6px -6px 18px rgba(0, 0, 0, 0.3);
  position: relative;
}
.statics .static .static-box > p {
  margin: 10px 0 0 0;
  color: #2980b9;
}
.statics .static .static-box .wave {
  background: #2980b9;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
}
.statics .static .static-box .wave.first {
  height: 85%;
}
.statics .static .static-box .wave.second {
  height: 75%;
}
.statics .static .static-box .wave.third {
  height: 65%;
}
.statics .static .static-box .wave.fourth {
  height: 55%;
}
.statics .static .static-box .wave > p {
  font-size: 18px;
  font-weight: bold;
  color: #ecf0f1;
  margin-top: 40px;
  margin-bottom: 0;
}
.statics .static .static-box:nth-of-type(2) {
  background: #000;
}

.how-to-work {
  text-align: center;
}
.how-to-work h2 {
  color: #2980b9;
  margin-bottom: 25px;
  font-size: 26px;
}
.how-to-work > p {
  font-size: 20px;
  margin-bottom: 40px;
}
.how-to-work .step-box .img-con {
  margin-bottom: 25px;
}
.how-to-work .step-box .img-con img {
  border-radius: 50%;
  box-shadow: -9px 9px 9px #00000029;
}
.how-to-work .step-box h3 {
  font-size: 26px;
  color: #2980b9;
  margin-bottom: 15px;
}

.subscription {
  background: url("../images/HomePage/13784-NPPXD3.png") center no-repeat;
  background-size: cover;
  padding: 130px 0;
  position: relative;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
}
.subscription .card-img-overlay {
  backdrop-filter: brightness(0.5);
  padding: 0;
}
.subscription .text {
  position: relative;
  z-index: 9;
}
.subscription .text h2 {
  color: #ecf0f1;
  font-size: 26px;
  margin-bottom: 40px;
}
.subscription .text button {
  padding: 15px 60px;
}

.bills h1 {
  font-size: 26px;
  color: #2980b9;
  margin-bottom: 40px;
  text-align: center;
}
.bills .btn-con {
  text-align: left;
}
.bills .btn-con button {
  padding: 10px 80px;
  border-radius: 9px;
  border: none;
  background: #2980b9;
  color: #ecf0f1;
  font-size: 18px;
  font-weight: bold;
}
.bills .table-con {
  margin-top: 40px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  border-radius: 9px;
  overflow: hidden;
}
.bills .table-con .table {
  margin-bottom: 0;
  border: none;
}
.bills .table-con .table .table-head {
  background: #2980b9;
  color: #ecf0f1;
  font-size: 18px;
  font-weight: bold;
}
.bills .table-con .table .table-head th {
  border: 2px solid rgba(45, 52, 54, 0.2);
  border-bottom: none !important;
  border-top: none !important;
}
.bills .table-con .table .table-head th:first-child {
  border-right: none;
}
.bills .table-con .table .table-head th:last-child {
  border-left: none;
}
.bills .table-con .table tbody {
  color: #2d3436;
}
.bills .table-con .table tbody tr {
  background-color: #ecf0f1;
  transition: 0.2s background-color ease-in-out;
}
.bills .table-con .table tbody tr:last-child th, .bills .table-con .table tbody tr:last-child td {
  border-bottom: none;
}
.bills .table-con .table tbody tr th, .bills .table-con .table tbody tr td {
  border: 2px solid rgba(45, 52, 54, 0.2);
  border-top: none;
  border-right: none;
}
.bills .table-con .table tbody tr td:last-child {
  border-left: none;
}
.bills .table-con .table tbody tr:hover {
  background: #fff;
}
.bills .table-con .table tbody tr td i {
  font-size: 18px;
}
.bills .table-con .table tbody tr td i.fa-eye {
  color: #2980b9;
}
.bills .table-con .table tbody tr td i.fa-cloud-download-alt {
  color: #2ecc71;
}
.bills .table-con .table tbody tr td i.fa-trash {
  color: #dc3545;
}

.new-bill .new-bill-con {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  border-radius: 9px;
  background: #fff;
  padding: 40px;
}
.new-bill .new-bill-con h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  color: #2980b9;
}
.new-bill .new-bill-con form input {
  width: 100%;
  height: 45px;
  border: none;
  padding: 0 15px;
  background: #ecf0f1;
  border-radius: 6px;
  color: #2d3436;
  margin-bottom: 25px;
}
.new-bill .new-bill-con form input::placeholder {
  color: rgba(45, 52, 54, 0.5);
}
.new-bill .new-bill-con form .seller-data h4, .new-bill .new-bill-con form .buyer-data h4, .new-bill .new-bill-con form .bill-data h4 {
  margin-bottom: 20px;
  font-size: 18px;
}
.new-bill .new-bill-con form .seller-data .add-new, .new-bill .new-bill-con form .buyer-data .add-new, .new-bill .new-bill-con form .bill-data .add-new {
  color: #2980b9;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease-in-out opacity;
  display: inline-block;
  margin: auto;
}
.new-bill .new-bill-con form .seller-data .add-new:hover, .new-bill .new-bill-con form .buyer-data .add-new:hover, .new-bill .new-bill-con form .bill-data .add-new:hover {
  opacity: 0.5;
}
.new-bill .new-bill-con form .seller-data .add-new i, .new-bill .new-bill-con form .buyer-data .add-new i, .new-bill .new-bill-con form .bill-data .add-new i {
  font-size: 24px;
  margin-left: 10px;
  vertical-align: middle;
}
.new-bill .new-bill-con form .btn-con button {
  background: #2980b9;
  color: #ecf0f1;
  border: none;
  border-radius: 60px;
  width: 300px;
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
  margin-top: 60px;
  max-width: 80%;
}

.bill-info .bill-info-con {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  border-radius: 9px;
  background: #fff;
  overflow: hidden;
}
.bill-info .bill-info-con .bill-head {
  background: #2980b9;
  padding: 20px;
  color: #ecf0f1;
  font-size: 18px;
  font-weight: bold;
}
.bill-info .bill-info-con .seller-info h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
.bill-info .bill-info-con .seller-info p {
  margin-bottom: 0;
}
.bill-info .bill-info-con .seller-info p:not(:last-child) {
  margin-bottom: 10px;
}
.bill-info .bill-info-con .table-con {
  border-bottom: 3px solid rgba(41, 128, 185, 0.5);
  margin-bottom: 30px;
}
.bill-info .bill-info-con .table-con .table-head {
  background: #ecf0f1;
  color: #2980b9;
}
.bill-info .bill-info-con .table-con th, .bill-info .bill-info-con .table-con td {
  padding-left: 40px;
  padding-right: 40px;
}
.bill-info .bill-info-con .bill-total {
  margin-bottom: 30px;
}
.bill-info .bill-info-con .bill-total .sub-total, .bill-info .bill-info-con .bill-total .discount, .bill-info .bill-info-con .bill-total .total {
  margin-bottom: 20px;
  color: #2980b9;
  font-size: 18px;
  font-weight: bold;
}
.bill-info .bill-info-con .bill-total .sub-total.discount, .bill-info .bill-info-con .bill-total .discount.discount, .bill-info .bill-info-con .bill-total .total.discount {
  color: #dc3545;
}
.bill-info .bill-info-con .bill-total .sub-total.total, .bill-info .bill-info-con .bill-total .discount.total, .bill-info .bill-info-con .bill-total .total.total {
  color: #2ecc71;
  margin-bottom: 0;
}
.bill-info .bill-info-con .btn-pay {
  text-align: center;
  margin-bottom: 40px;
}
.bill-info .bill-info-con .btn-pay button {
  width: 260px;
  max-width: 90%;
  height: 45px;
  border-radius: 50px;
  background: #2980b9;
  color: #ecf0f1;
  border: none;
  font-size: 18px;
  font-weight: bold;
}

.contact-us h1 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 30px;
  color: #2980b9;
}
.contact-us .about h2 {
  font-size: 18px;
  color: #2980b9;
  margin-bottom: 20px;
}
.contact-us .about p {
  margin-bottom: 30px;
}
.contact-us .about .social-links {
  font-size: 18px;
  color: #2980b9;
}
.contact-us .about .social-links i {
  font-size: 24px;
  margin-right: 10px;
  vertical-align: middle;
}
.contact-us .about .social-links i.fa-facebook-square {
  color: #3b5998;
}
.contact-us .about .social-links i.fa-twitter-square {
  color: #1da1f2;
}
.contact-us .about .social-links i.fa-instagram {
  color: #fd1d1d;
}
.contact-us .about .social-links .social-link:not(:last-child) {
  margin-bottom: 15px;
}
.contact-us .contact-form {
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  border-radius: 9px;
  padding: 20px;
}
.contact-us .contact-form input, .contact-us .contact-form textarea {
  width: 100%;
  border: none;
  padding: 0 15px;
  background: #ecf0f1;
  border-radius: 6px;
  color: #2d3436;
  margin-bottom: 25px;
  resize: none;
}
.contact-us .contact-form input::placeholder, .contact-us .contact-form textarea::placeholder {
  color: rgba(45, 52, 54, 0.5);
}
.contact-us .contact-form input {
  height: 45px;
}
.contact-us .contact-form textarea {
  padding: 15px;
}
.contact-us .contact-form .btn-con {
  text-align: center;
}
.contact-us .contact-form .btn-con button {
  width: 260px;
  max-width: 90%;
  height: 45px;
  border-radius: 50px;
  background: #2980b9;
  color: #ecf0f1;
  border: none;
  font-size: 18px;
  font-weight: bold;
}

.login h2, .register h2 {
  font-size: 26px;
  color: #2980b9;
  margin-bottom: 30px;
}
.login .login-box, .register .login-box {
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  text-align: center;
  border-radius: 9px;
  padding: 40px;
}
.login .login-box input, .register .login-box input {
  width: 100%;
  border: none;
  padding: 0 15px;
  background: #ecf0f1;
  border-radius: 6px;
  color: #2d3436;
  height: 45px;
  margin-bottom: 25px;
  resize: none;
}
.login .login-box input::placeholder, .register .login-box input::placeholder {
  color: rgba(45, 52, 54, 0.5);
}
.login .login-box button, .register .login-box button {
  width: 260px;
  max-width: 90%;
  height: 45px;
  border-radius: 50px;
  background: #2980b9;
  color: #ecf0f1;
  border: none;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
}
.login .login-box a, .register .login-box a {
  font-size: 18px;
  font-weight: bold;
}

@keyframes upDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*# sourceMappingURL=style.css.map */
